* {
  cursor: crosshair;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: var(--selection);
}

body {
  transition: 0.3s all;
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground: var(--clr-light);
  --clr-light: white;
  --clr-dark: #0F111A;
  --btn-hover: #cff4fc;
  --button-txt-hover: #63b1ff;
  --font-clr: black;
  --github-fill: #333;
  --selection: #add8e6;
  --a-clr: #0076d7;
  --a-hover: #886ce4;
  --blackwhite: black;
  --shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.darkmode {
  --blackwhite: white;
  --foreground: var(--clr-dark);
  --btn-hover: black;
  --button-txt-hover: #6666ff;
  --font-clr: #DFDFDF;
  --github-fill: #b5b5b5;
  --selection: #6666ff;
  --a-clr: #886ce4;
  --a-hover: #0076d7;
}

.dark-mode-toggle,
.history-btn,
.shortcuts {
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
}

.dark-mode-toggle:hover {
  box-shadow: var(--shadow);
}

#color_input {
  position: absolute;
  z-index: 100;
  top: 5.5em;
  right: 1em;
  width: 45px;
  height: 45px;
  border: none;
  background: var(--foreground);
  transition-duration: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  transition-duration: 0.5s;
  animation-delay: 5s;
}

#color_input:hover {
  box-shadow: var(--shadow);
}

#color_input::-webkit-color-swatch {
  border-radius: 100%;
  border: none;
}

#color_input::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.history-btn {
  position: absolute;
  z-index: 100;
  top: 10em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.history-btn:hover {
  box-shadow: var(--shadow);
}

.historyicon {
  fill: var(--foreground);
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.shortcuts {
  position: absolute;
  z-index: 100;
  top: 14.5em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.shortcuts:hover {
  box-shadow: var(--shadow);
}

.command {
  fill: var(--foreground);
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.shortcuts-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3.5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  cursor: default;
}

.shortcuts-popup.show {
  opacity: 2;
  pointer-events: auto;
}

.modal {
  background-color: rgb(31, 31, 31);
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 30px;
  box-shadow: var(--shadow);
  cursor: default;
}

@media (max-width: 700px) {
  .modal {
      width: 450px;
  }
}

table,
tr,
td {
  cursor: default;
}

#s-close {
  outline: none;
  border: 3px solid red;
  padding: 12px;
  background: transparent;
  color: red;
  font-size: 18px;
  border-radius: 12px;
  width: 110px;
  transition-duration: 0.2s;
  animation-delay: 0.5s;
}

#s-close:hover {
  opacity: 0.5;
}

.s-header {
  font-size: 24px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
}

.s-p {
  font-size: 16px;
  color: white;
  opacity: 0.7;
}

.key {
  font-size: 18px;
  margin-left: 100px;
  color: white;
  opacity: 0.6;
  background: #4e4e4e;
  padding: 6px;
  border-radius: 5px;
}

.fullscreen {
  position: absolute;
  z-index: 100;
  top: 19em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.fs-icon {
  fill: var(--foreground);
  transition-duration: 0.5s;
  animation-delay: 5s;
}

.fullscreen:hover {
  box-shadow: var(--shadow);
}

@media (max-width: 585px) {
  .dark-mode-toggle {
      top: 16em;
  }

  #color_input {
      top: 20.5em;
  }

  .history-btn {
      top: 25em;
  }

  .shortcuts {
      top: 29.5em;
  }

  .fullscreen {
      top: 34em;
  }
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
}

.div1 {
  padding: 12px;
  font-size: 96px;
  height: auto;
  width: 450px;
  border-radius: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  /* -webkit-text-stroke: 1.5px var(--font-clr); */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--font-clr);

  letter-spacing: 1.7px;
  background-color: var(--foreground);
  transition: 0s all;
}

.divrgb {
  font-size: 21px;
  color: var(--font-clr);
  -webkit-text-stroke: 0px currentColor;
  margin-bottom: 3px;
}

.divname {
  font-size: 21px;
  text-decoration: none;
  -webkit-text-stroke: 0px;
  color: var(--font-clr);
  margin-bottom: 5px;
  display: block;
}

.buttons {
  text-align: center;
}

.button1 {
  background-color: var(--foreground);
  padding: 10px 20px;
  font-size: 36px;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition-duration: 0.5s;
  animation-delay: 5s;
  color: var(--font-clr);
}

.button1:hover {
  box-shadow: var(--shadow);
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

.button1:active {
  transition-duration: 0s;
  animation-delay: 0s;
}

.body1,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.social-links {
  display: flex;
}

.social-btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: var(--font-clr);
  border-radius: 10px;
  background: var(--foreground);
  margin: 5px;
  transition: 1s;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 150px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

#github {
  fill: var(--github-fill);
}

.history {
  height: 300px;
  overflow: auto;
}

.h-close-btn {
  margin-top: 5px;
  margin-right: 10px;
  color: var(--font-clr);
  font-weight: bold;
  float: right;
  font-size: 28px;
  line-height: 20px;
  transition: 0.3s;
  cursor: default;
}

.h-top {
  fill: white;
  align-items: center;
}

#h-back-to-top {
  display: none;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #1d1f28;
  padding: 14px;
  text-align: center;
  border: none;
  border-radius: 13px;
  transition-duration: 0.5s;
  animation-delay: 5s;
  color: var(--font-clr);
}

#h-back-to-top:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow);
  background: rgb(58, 65, 110);
}

#history {
  padding: 10px;
  color: var(--font-clr);
  background-color: var(--foreground);
  width: 370px;
  min-height: 350px;
  height: auto;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 17px;
}

li {
  margin: 6px;
}

.span1 {
  margin-left: 20px;
  font-size: 26px;
}

.alertbox {
  display: flex;
  align-items: center;
  justify-content: center;

}

.alert {
  display: none;
  position: absolute;
  bottom: 2em;
  padding: 30px;
  background-color: var(--foreground);
  /* box-shadow: var(--shadow); */
  width: 340px;
  border-radius: 30px;
  font-size: 16px;
  cursor: default;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.alertspan {
  color: var(--font-clr);
  cursor: default;
}

.copy-emoji {
  font-size: 18px;
}

.closebtn {
  margin-top: 3px;
  margin-left: 15px;
  color: var(--font-clr);
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  transition: 0.3s;
  cursor: default;
}

.closebtn:hover,
.h-close-btn:hover {
  color: red;
}

#db {
  display: none;
}

noscript {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30000000;
  height: 100%;
  width: 100%;
  background-color: black;
  font-size: 32px;
  color: white;
  text-align: center;
}

.key,
.s-p,
.s-header,
ol,
li,
hr,
h2,
.divtxt,
.span1,
.divrgb,
.div1,
#history,
.divname {
  cursor: text;
}

button,
img,
svg,
.body1,
path,
.button1,
.flex-center,
.social-btn,
.closebtn:hover,
.button2,
.social-btn span,
.dark-mode-toggle,
#bmc-wbtn,
#color_input,
.shortcuts,
.history-btn,
.h-close-btn,
#h-back-to-to {
  cursor: pointer;
}

br,
.button1,
.button2,
.social-btn,
.closebtn,
.dark-mode-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
