
* {
    cursor: crosshair;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background: var(--selection);
}

body {
    transition: 0.3s all;
}

:root {
    --foreground: var(--clr-light);
    --clr-light: white;
    --clr-dark: #0d0d0d;
    --btn-hover: #cff4fc;
    --button-txt-hover:#63b1ff;
    --font-clr: black;
    --github-fill: #333;
    --selection: #add8e6;
    --a-clr: #0076d7;
    --a-hover: #886ce4;
    --blackwhite: black;
    --shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.darkmode {
    --blackwhite: white;
    --foreground: var(--clr-dark);
    --btn-hover: black;
    --button-txt-hover: #6666ff;
    --font-clr: #b5b5b5;
    --github-fill: #b5b5b5;
    --selection: #6666ff;
    --a-clr: #886ce4;
    --a-hover: #0076d7;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    transition-duration: 0.5s;
    animation-delay: 5s;
}

.dark-mode-toggle:hover {
    box-shadow: var(--shadow);
}

#color_input {
    position: absolute;
    z-index: 100;
    top: 5.5em;
    right: 1em;
    width: 45px;
    height: 45px;
    border: none;
    background: var(--foreground);
    transition-duration: 0.5s;
    animation-delay: 5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
}

#color_input:hover {
    box-shadow: var(--shadow);
}

#color_input::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#color_input::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

@media (max-width: 585px) {
    .dark-mode-toggle {
        top: 15em;
    } #color_input {
        top: 19.5em;
    }
}
.main {
    text-align: center;
    display: flex;
    justify-content: center;
}

.div1 {
    padding: 1px;
    font-size: 96px;
    height: auto;
    width: 460px;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    -webkit-text-stroke: 1.5px var(--font-clr);
    letter-spacing: 1.5px;
    background-color: var(--foreground);
    transition: 0s all;
}

.divrgb {
    font-size: 22px;
    color: var(--font-clr);
    -webkit-text-stroke: 0px currentColor;
}

.buttons {
    text-align: center;
}

.button1 {
    background-color: var(--foreground);
    padding: 10px 20px;
    font-size: 36px;
    text-align: center;
    border: none;
    border-radius: 20px;
    transition-duration: 0.5s;
    animation-delay: 5s;
    color: var(--font-clr);
}

.button1:hover {
    box-shadow: var(--shadow);
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);
}

.body1,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-links {
    display: flex;
}

.social-btn {
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: var(--font-clr);
    border-radius: 10px;
    background: var(--foreground);
    margin: 5px;
    transition: 1s;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social-btn:hover {
    width: 150px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);
}

.social-btn:hover span {
    padding: 2px;
    width: max-content;
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);
}

#github {
    fill: var(--github-fill);
}

.history {
    height: 300px;
    overflow: auto;
}

#history {
    color: var(--font-clr);
    background-color: var(--foreground);
    width: 370px;
    min-height: 350px;
    height: auto;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 17px;
}
li {
    margin: 6px;
}
.span1 {
    font-size: 26px;
}

.button2 {
    margin-top: 4%;
    background-color: var(--foreground);
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 12px;
    transition-duration: 0.5s;
    animation-delay: 5s;
    color: var(--font-clr);
}

.button2:hover {
    box-shadow: var(--shadow);
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);
}

.alert {
    display: none;
    padding: 20px;
    background-color: var(--foreground);
    width: 290px;
    right: 100%;
    position: absolute;
    bottom: 2%;
    right: 100px;
    border-radius: 18px;
    font-size: 16px;
    cursor: default;
}

.alertspan {
    color: var(--font-clr);
    cursor: default;
}

.closebtn {
    margin-left: 15px;
    color: var(--font-clr);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    transition: 0.3s;
    cursor: default;
}

.closebtn:hover {
    color: red;
}


#db {
    display: none;
}
noscript {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 30000000;
    height: 100%;
    width: 100%;
    background-color: black;
    font-size: 32px;
    color: white;
    text-align: center;
}

ol,
li,
hr,
h2,
.divtxt,
.span1,
.divrgb,
.div1,
#history {
    cursor: text;
}

img,
svg,
.body1,
path,
.button1,
.flex-center,
.social-btn,
.closebtn:hover,
.button2,
.social-btn span,
.dark-mode-toggle,
#bmc-wbtn,
#color_input {
    cursor: pointer;
}

br,
.button1,
.button2,
.social-btn,
.closebtn,
.dark-mode-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
