.alertbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  text-align: center;
  display: none;
  position: absolute;
  bottom: 2em;
  padding: 30px;
  background-color: var(--foreground);
  backdrop-filter: blur(80px);
  width: auto;
  height: auto;
  border-radius: 30px;
  font-size: 16px;
  cursor: default;
  font-weight: 600;
  box-shadow: 0px 0px 38px -5px currentColor;
}

#alertspan {
  color: var(--font-clr);
  cursor: default;
  text-align: center;
}

.alert-emoji {
  font-size: 18px;
  cursor: default;
}
