.arrows-container {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  z-index: 0;
}

#back,
#forward {
  display: inline-block;
  margin: 5px;
  padding: 10px 18px;
  background: var(--foreground);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  animation-delay: 5s;
  &:hover {
    box-shadow: 0px 0px 35px -3px var(--button-txt-hover);
  }
}

.fa-angle-right,
.fa-angle-left {
  color: var(--font-clr);
  transition-duration: 0.5s;
  animation-delay: 5s;
  cursor: pointer;
}

#back:hover > .fa-angle-left,
#forward:hover > .fa-angle-right {
  color: var(--button-txt-hover);
  cursor: pointer;
}
