.shortcuts-popup {
  @include center();
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $popup-background;
  backdrop-filter: blur(3.5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  cursor: default;
  z-index: 2;

  &.show {
    opacity: 2;
    pointer-events: auto;
  }
}

.modal {
  height: auto;
  max-height: 800px;
  background-color: rgb(31, 31, 31);
  width: 550px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 35px;
  box-shadow: $shadow;
  cursor: default;
  overflow: auto;
}

table,
tr,
td {
  cursor: default;
}

.s-close {
  outline: none;
  border: 3px solid $popup-close-btn;
  padding: 15px;
  background: transparent;
  color: $popup-close-btn;
  font-size: 18px;
  font-weight: $regular;
  border-radius: 15px;
  width: auto;
  height: 60px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $popup-close-btn;
    color: white;
    opacity: 0.8;
  }
  @include selectionPopup();
}

.s-delete {
  display: none;
  border: 3px solid $popup-delete-btn;
  color: $popup-delete-btn;
  cursor: pointer;

  &:hover {
    background-color: $popup-delete-btn;
    color: white;
    opacity: 0.8;
  }
  @include selectionPopup();
}

.s-header {
  font-size: 21px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  @include selectionPopup();
}

.s-p {
  font-size: 16px;
  color: white;
  opacity: 0.7;
  text-transform: capitalize;
  @include selectionPopup();
}

#favsli {
  transition: 0.3s;
  opacity: 0.8;
  text-align: auto;
  margin-right: 140px;
  padding: 8px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  border: 3px solid $favs-purple;
  cursor: pointer;

  &:hover {
    background-color: $favs-purple;
    opacity: 1;
    text-decoration: none;
  }
  @include selectionPopup();
}

.favsclrname {
  font-size: 17px;
  cursor: pointer;
  @include selectionPopup();
}

.favsimg {
  margin-top: 1px;
  position: relative;
  border-radius: 50px;
  margin-right: 6px;
  @include selectionPopup();
}

.favsheader {
  opacity: 1;
  font-size: 30px;
  color: darken($color: white, $amount: 20);
  margin-left: 10px;
  cursor: text;
  @include selectionPopup();
}

.favstext {
  font-size: 22px;
  font-weight: $regular;
  color: darken($color: white, $amount: 20);
  margin-left: 15px;
  @include selectionPopup();
}

.favssmalltext {
  font-size: 18px;
  @include selectionPopup();
}

.favshex {
  @include selectionPopup();
}

#delFromFavs {
  display: flex;
  align-items: right;
  justify-content: right;
  transition: 0.3s all;
  margin-right: 10px;

  &:hover {
    color: $popup-delete-btn;
  }
}
.key {
  font-size: 18px;
  margin-left: 100px;
  color: white;
  opacity: 0.6;
  background: #4e4e4e;
  padding: 6px;
  border-radius: 5px;
  @include selectionPopup();
}
