@mixin tooltip {
  @media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    &::after {
      font-family: poppins;
      content: attr(data-tooltip) !important;
      text-align: center;
      text-transform: capitalize;
      width: 110px;
      height: 50px;
      background: var(--foreground);
      color: var(--font-clr);
      border: 2px solid var(--foreground);
      border-radius: 8px;
      position: absolute;
      left: -155px;
      transform: translateY(-50%);
      top: 1.5em;
      @include center();
      opacity: 0;
      pointer-events: none;
      transition: 0.2s ease-in-out;
      font-weight: $regular;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
    &:hover::after {
      transition-delay: 0.3s;
      opacity: 1;
      left: -135px;
    }
    // &::before {
    //   content: "";
    //   width: 10px;
    //   height: 10px;
    //   background: var(--foreground);
    //   top: 50%;
    //   left: -140px;
    //   border-radius: 1px;
    //   position: absolute;
    //   transform: translateY(-50%) rotate(45deg);
    //   transition: 0.2s ease-in-out;
    //   opacity: 0;
    // }
    // &:hover::before {
    //   opacity: 1;
    //   left: -32px;
    // }
  }
}
