:root {
  --foreground: var(--clr-light);
  --clr-light: white;
  --clr-dark: #0f111a;
  --btn-hover: #cff4fc;
  --button-txt-hover: #63b1ff;
  --font-clr: black;
  --github-fill: #333;
  --selection: #add8e6;
  --blackwhite: black;
  --bar-clr: rgba(222, 222, 222, 0.5);
  --arrows-background: rgba(255, 255, 255, 0.662);
  --history-hover: #50a8ffad;
  --history-image-hover: 0px 0px 15px #a9cdff;
  --alert-header: #333333;
  --alert-text: #666666;
}

.darkmode {
  --blackwhite: white;
  --foreground: var(--clr-dark);
  --btn-hover: black;
  --button-txt-hover: #6666ff;
  --font-clr: #dfdfdf;
  --github-fill: #b5b5b5;
  --selection: #6666ff;
  --bar-clr: rgba(45, 45, 45, 0.5);
  --arrows-background: rgba(0, 0, 0, 0.662);
  --history-hover: #6666ff80;
  --history-image-hover: 0px 0px 15px #6b6bff;
  --alert-header: #f9f9f9;
  --alert-text: #b3b3b3;
}
