@import url("darkmode.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.dark-mode-toggle,
.history-btn,
.shortcuts,
.history-btn,
.shortcuts,
.fullscreen,
.fav-list-btn,
.fav-btn,
.share-btn {
  color: var(--foreground);
  border: 2px solid var(--foreground);
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.dark-mode-toggle {
  z-index: 100;
  top: 1em;
  right: 1em;
}

#color_input {
  position: absolute;
  z-index: 100;
  top: 5.5em;
  right: 1em;
  width: 45px;
  height: 45px;
  border: none;
  background: var(--foreground);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  cursor: pointer;
}

#color_input::-webkit-color-swatch {
  border-radius: 100%;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#color_input::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.history-btn {
  top: 10em;
  right: 1em;
  cursor: pointer;
}

.historyicon {
  fill: var(--foreground);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.shortcuts {
  top: 14.5em;
  right: 1em;
}

.command {
  fill: var(--foreground);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  --animate-duration: 0.6s;
}

.fullscreen {
  top: 19em;
  right: 1em;
}

.fs-icon {
  fill: var(--foreground);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.fav-btn {
  top: 23.5em;
  right: 1em;
}

.fa-solid {
  color: currentColor;
  --fa-animation-duration: 2s;
  cursor: pointer;
}

#like,
#shareIcon,
#favsIcon {
  cursor: pointer;
}

.fav-list-btn {
  top: 28em;
  right: 1em;
}

.share-btn {
  top: 32.5em;
  right: 1em;
}

.share-btn:hover {
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.fav-list-btn:hover,
.fav-btn:hover,
.fullscreen:hover,
.shortcuts:hover,
.history-btn:hover,
.dark-mode-toggle:hover,
#color_input:hover {
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.fa-share {
  color: var(--foreground);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.right-bar {
  z-index: 99;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  height: 493px;
  width: 75px;
  background: var(--bar-clr);
  display: inline-block;
  position: absolute;
  right: 0em;
  top: 0em;
  border-radius: 20px 0 0 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  border-top: 2px solid var(--foreground);
  border-left: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
  cursor: default;
}

.arrows-container {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  z-index: 0;
}

#back,
#forward {
  display: inline-block;
  margin: 5px;
  padding: 10px 18px;
  background: var(--foreground);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#back:hover,
#forward:hover {
  -webkit-box-shadow: 0px 0px 35px -3px var(--button-txt-hover);
          box-shadow: 0px 0px 35px -3px var(--button-txt-hover);
}

.fa-angle-right,
.fa-angle-left {
  color: var(--font-clr);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  cursor: pointer;
}

#back:hover > .fa-angle-left,
#forward:hover > .fa-angle-right {
  color: var(--button-txt-hover);
  cursor: pointer;
}

.shortcuts-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: default;
  z-index: 2;
}

.shortcuts-popup.show {
  opacity: 2;
  pointer-events: auto;
}

.modal {
  height: auto;
  max-height: 800px;
  background-color: #1f1f1f;
  width: 550px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 35px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
  overflow: auto;
}

table,
tr,
td {
  cursor: default;
}

.s-close {
  outline: none;
  border: 3px solid #fd2f2f;
  padding: 15px;
  background: transparent;
  color: #fd2f2f;
  font-size: 18px;
  border-radius: 15px;
  width: auto;
  height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.s-close:hover {
  background-color: #fd2f2f;
  color: white;
  opacity: 0.8;
}

.s-delete {
  display: none;
  border: 3px solid #ff5050;
  color: #ff5050;
  cursor: pointer;
}

.s-delete:hover {
  background-color: #ff5050;
  color: white;
  opacity: 0.8;
}

.s-header {
  font-size: 21px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
}

.s-p {
  font-size: 16px;
  color: white;
  opacity: 0.7;
  text-transform: capitalize;
}

#favsli {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
  text-align: left;
  margin-right: 180px;
  padding: 8px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  border: 3px solid #3a416e;
  cursor: pointer;
}

#favsli:hover {
  background-color: #3a416e;
  opacity: 1;
  text-decoration: none;
}

.favsclrname {
  font-size: 17px;
  cursor: pointer;
}

.favsimg {
  margin-top: 1px;
  position: relative;
  border-radius: 50px;
  margin-right: 6px;
}

.favsheader {
  opacity: 0.8;
  font-size: 30px;
  color: white;
  margin-left: 10px;
  cursor: text;
}

#delFromFavs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-right: 10px;
}

#delFromFavs:hover {
  color: #ff5050;
}

.key {
  font-size: 18px;
  margin-left: 100px;
  color: white;
  opacity: 0.6;
  background: #4e4e4e;
  padding: 6px;
  border-radius: 5px;
}

.toast {
  z-index: 100;
  cursor: default;
  display: none;
  position: absolute;
  bottom: 1em;
  border-radius: 20px;
  background: var(--foreground);
  padding: 20px 35px 20px 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transform: translateY(calc(100% + 30px));
          transform: translateY(calc(100% + 30px));
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.toast .toast-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toast-content .emoji {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--button-txt-hover);
  color: #fff;
  border-radius: 40%;
}

.toast-content .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: var(--alert-text);
}

.message .text.text-1 {
  font-weight: 600;
  color: var(--alert-header);
}

.toast .close {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  color: #ff6666;
}

.toast .close:hover {
  opacity: 1;
  color: red;
  text-shadow: 0px 0px 8px red;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--button-txt-hover);
  border-radius: 100px;
}

.toast .progress.active:before {
  -webkit-animation: progress 4s linear forwards;
          animation: progress 4s linear forwards;
}

@-webkit-keyframes progress {
  100% {
    right: 100%;
  }
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.history {
  font-family: poppins;
  margin-top: 20px;
  height: 350px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.history-container {
  display: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
}

.history-container:hover > .history {
  overflow-y: auto;
}

#historyhex {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 8px;
  border-radius: 12px;
  text-decoration: underline;
  cursor: pointer;
  line-height: 35px;
}

#historyhex:hover {
  color: white;
  background: var(--history-hover);
  text-decoration: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px 1px var(--history-hover);
          box-shadow: 0px 0px 20px 1px var(--history-hover);
}

#historyhex:hover > .hclrimg {
  -webkit-box-shadow: var(--history-image-hover);
          box-shadow: var(--history-image-hover);
}

.hclrimg {
  border-radius: 8px;
  position: relative;
  bottom: -11px;
  right: 4px;
  margin: 5px;
  -webkit-transition: 0.06s;
  transition: 0.06s;
}

.h-close-btn {
  margin-top: 13px;
  margin-right: 13px;
  color: var(--font-clr);
  float: right;
  font-size: 28px;
  line-height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: default;
}

.h-close-btn:hover {
  color: #ff274e;
  text-shadow: 0px 0px 8px #ff274e;
  cursor: pointer;
}

.h-top {
  fill: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#h-back-to-top {
  display: none;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #262834;
  padding: 14px;
  text-align: center;
  border: none;
  border-radius: 13px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  color: var(--font-clr);
  cursor: pointer;
}

#h-back-to-top:hover {
  background: var(--history-hover);
  -webkit-box-shadow: 0px 0px 20px 1px var(--history-hover);
          box-shadow: 0px 0px 20px 1px var(--history-hover);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#history {
  padding: 10px;
  color: var(--font-clr);
  background-color: var(--foreground);
  width: 380px;
  min-height: 350px;
  height: auto;
  border-radius: 35px;
  font-size: 20px;
  margin-left: 17px;
}

li {
  margin: 6px;
  text-align: left;
}

.history-header {
  margin-left: 20px;
  font-size: 27px;
  cursor: text;
}

hr {
  height: 2px;
  border: none;
  /* background: var(--hr-gradient); */
  background-color: rgba(114, 114, 114, 0.5);
  border-radius: 100px;
  margin-right: 20px;
}

.fa-chevron-up {
  color: white;
}

/* .history-btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: 0%;
  right: 180%;
  background: var(--bar-clr);
  border: 2px solid var(--foreground);
  color: white;
  backdrop-filter: blur(30px);
  padding: 8px;
  border-radius: 8px;
} */
.closebtn {
  margin-top: 3px;
  margin-left: 15px;
  color: var(--font-clr);
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: default;
}

.closebtn:hover {
  color: #ff274e;
  text-shadow: 0px 0px 8px #ff274e;
  cursor: pointer;
}

.closebtn:active,
.h-close-btn:active {
  text-shadow: 0px 0px 25px #ff274e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: var(--selection);
}

*::selection {
  background: var(--selection);
}

body {
  margin-top: 30px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
  cursor: crosshair;
}

.twa-lg,
i,
.twa,
.twa-1x,
.fa-solid,
.twa-artist-palette {
  cursor: default;
}

.main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div1 {
  padding: 12px;
  font-size: 96px;
  height: auto;
  width: 465px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.7px;
  background-color: var(--foreground);
  -webkit-text-stroke: 1.5px var(--font-clr);
}

.divrgb {
  font-size: 21px;
  color: var(--font-clr);
  -webkit-text-stroke: 0px currentColor;
  margin-bottom: 3px;
  text-shadow: none;
}

.divname {
  font-size: 21px;
  text-decoration: none;
  -webkit-text-stroke: 0px;
  color: var(--font-clr);
  margin-bottom: 5px;
  display: block;
  text-shadow: none;
}

.buttons {
  text-align: center;
}

.button1 {
  background-color: var(--foreground);
  padding: 10px 20px;
  font-size: 36px;
  text-align: center;
  border: none;
  border-radius: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  color: var(--font-clr);
  cursor: pointer;
}

.button1:hover {
  -webkit-box-shadow: 0px 0px 38px -5px currentColor;
          box-shadow: 0px 0px 38px -5px currentColor;
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

.body1,
.flex-center {
  font-family: poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  cursor: pointer;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: var(--font-clr);
  border-radius: 10px;
  background: var(--foreground);
  margin: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  cursor: pointer;
}

.social-btn:hover {
  width: 150px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 38px -5px currentColor;
          box-shadow: 0px 0px 38px -5px currentColor;
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

.social-btn:hover span {
  padding: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--btn-hover);
  color: var(--button-txt-hover);
}

#github {
  fill: var(--github-fill);
}

.fa-equals {
  cursor: default;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  color: #3abdff;
}

a:hover {
  color: #0093dd;
}

#db {
  display: none;
}

noscript {
  font-family: poppins;
  cursor: default;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30000000;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8b62ff), color-stop(#5e7eff), color-stop(#2893ff), color-stop(#00a4ff), to(#00b2ff));
  background-image: linear-gradient(to right bottom, #8b62ff, #5e7eff, #2893ff, #00a4ff, #00b2ff);
  font-size: 35px;
  color: white;
  text-align: center;
}

.no-script {
  background-color: rgba(255, 255, 255, 0.265);
  border-radius: 25px;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 150px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.key,
.s-p,
.s-header,
ol,
li,
hr,
h2,
.divtxt,
.span1,
.divrgb,
.div1,
#history,
.divname {
  cursor: text;
}

img,
svg,
path,
#bmc-wbtn,
.fa-trash-can,
.fa-circle-xmark,
.fa-chevron-up {
  cursor: pointer;
}

br,
.button1,
.social-btn,
.closebtn,
.dark-mode-toggle,
.h-close-btn,
.arrows-container,
#historyhex:hover {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 750px) {
  .modal {
    width: 450px;
  }
  #delFromFavs {
    display: none;
  }
  #favsli {
    margin-right: 125px;
  }
  #back,
  #forward {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .modal {
    width: 400px;
  }
  #favsli {
    margin-right: 50px;
  }
  .div1 {
    font-size: 80px;
    width: 400px;
    -webkit-text-stroke: 0px currentColor;
    text-shadow: -1px -1px 0 var(--blackwhite), 1px -1px 0 var(--blackwhite), -1px 1px 0 var(--blackwhite), 1px 1px 0 var(--blackwhite);
  }
  body {
    margin-top: 22%;
  }
  #back,
  #forward {
    display: inline-block;
  }
  .dark-mode-toggle {
    top: 11em;
  }
  #color_input {
    top: 15.5em;
  }
  .history-btn {
    top: 20em;
  }
  .shortcuts {
    top: 24.5em;
  }
  .fullscreen {
    top: 29em;
  }
  .fav-btn {
    top: 33.5em;
  }
  .fav-list-btn {
    top: 38em;
  }
  .share-btn {
    top: 42.5em;
  }
  .right-bar {
    border-top: 2px solid var(--foreground);
    top: 8em;
    height: 503px;
  }
}

@media (max-height: 820px) {
  .modal {
    max-height: 650px;
  }
}

@media (max-height: 660px) {
  .modal {
    max-height: 520px;
  }
}

@media (max-width: 550px) {
  .dark-mode-toggle {
    top: 24em;
  }
  #color_input {
    top: 28.5em;
  }
  .history-btn {
    top: 33em;
  }
  .shortcuts {
    top: 37.5em;
  }
  .fullscreen {
    top: 42em;
  }
  .fav-btn {
    top: 46.5em;
  }
  .fav-list-btn {
    top: 51em;
  }
  .share-btn {
    top: 55.5em;
  }
  .right-bar {
    border-top: 2px solid var(--foreground);
    top: 19em;
    height: 497px;
  }
}
/*# sourceMappingURL=style.css.map */