@use "variables" as *;
@use "tooltip";
@use "darkmode";
@use "right-bar";
@use "arrows";
@use "popup";
@use "alert";
@use "history";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
  &:focus-visible {
    outline: 4px solid var(--button-txt-hover);
    box-shadow: 0px 0px 40px 3px var(--button-txt-hover);
  }
  &::selection {
    background: var(--selection);
    opacity: 0;
  }
}

body {
  margin-top: 30px;
  transition: 0.3s all;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  cursor: crosshair;
}

.twa-lg,
i,
.twa,
.twa-1x,
.fa-solid,
.twa-artist-palette {
  cursor: default;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
}

.div1 {
  padding: 12px;
  font-size: 96px;
  height: auto;
  width: 465px;
  border-radius: 60px;
  box-shadow: $main-content-shadow;
  letter-spacing: 1.7px;
  background-color: var(--foreground);
  -webkit-text-stroke: 1.5px var(--font-clr);
}

.divrgb {
  font-size: 21px;
  color: var(--font-clr);
  -webkit-text-stroke: 0px currentColor;
  margin-bottom: 3px;
  text-shadow: none;
}

.divname {
  font-size: 21px;
  text-decoration: none;
  -webkit-text-stroke: 0px;
  color: var(--font-clr);
  margin-bottom: 5px;
  display: block;
  text-shadow: none;
}

.buttons {
  text-align: center;
}

.button1 {
  background-color: var(--foreground);
  padding: 10px 20px;
  font-size: 36px;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition-duration: 0.5s;
  animation-delay: 5s;
  color: var(--font-clr);
  cursor: pointer;
  &:hover {
    // box-shadow: $shadow;
    box-shadow: $main-btn-shadow;
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);
  }
}

.body1,
.flex-center {
  font-family: poppins;
  @include center();
  height: 100vh;
  cursor: pointer;
}

.social-links {
  display: flex;
}

.social-btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: var(--font-clr);
  border-radius: 10px;
  background: var(--foreground);
  margin: 5px;
  transition: 1s;
  cursor: pointer;

  span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
    cursor: pointer;
  }

  &:hover {
    width: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 38px -5px currentColor;
    background-color: var(--btn-hover);
    color: var(--button-txt-hover);

    span {
      padding: 2px;
      width: max-content;
      background-color: var(--btn-hover);
      color: var(--button-txt-hover);
    }
  }
}

#github {
  fill: var(--github-fill);
}

.fa-equals {
  cursor: default;
}

.center {
  @include center();
}

a {
  @include link(#3abdff);
}

#db {
  display: none;
}

noscript {
  font-family: poppins;
  cursor: default;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30000000;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, #8b62ff, #5e7eff, #2893ff, #00a4ff, #00b2ff);
  font-size: 35px;
  color: white;
  text-align: center;
}

.no-script {
  background-color: rgba(255, 255, 255, 0.265);
  border-radius: 25px;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 150px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.key,
.s-p,
.s-header,
ol,
li,
hr,
h2,
.divtxt,
.span1,
.divrgb,
.div1,
#history,
.divname {
  cursor: text;
}

img,
svg,
path,
#bmc-wbtn,
.fa-trash-can,
.fa-circle-xmark,
.fa-chevron-up {
  cursor: pointer;
}

br,
.button1,
.social-btn,
.closebtn,
.dark-mode-toggle,
.h-close-btn,
.arrows-container,
#historyhex:hover {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@import "responsive";
